<!DOCTYPE html>
<html>
<head>
  <title>Yale IMs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="yaleImsApp">
	 <nav class="navbar navbar-default navbar-fixed-top affix" ng-class="{'navbar-inverse': adminPage}" role="navigation">
        <!-- Start Container for Nav -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#imsNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Yale IMs</a>
            </div>

            <div class="collapse navbar-collapse" id="imsNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/#/newsfeed">Newsfeed</a></li>
                    <li><a href="/#/leaderboard">Leaderboards</a></li>
                    <li><a href="/#/college/morse/">Colleges</a></li>
                    <li><a href="/#/sport">Sports</a></li>
                    <li><a href="/#/profile">My Profile</a></li>
                    <li><a href="/#/admin">Admin</a></li>
                    <% if session[:cas_user] %>
                        <li><a ui-sref="logout" target="_self">Logout (<%= @current_user.name %>) </a></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <!-- End container for nav -->
    </nav>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    

</body>
</html>
