<!DOCTYPE html>
<html>
<head>
  <title>Yale IMs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="yaleImsApp">
	 <nav class="navbar navbar-default navbar-fixed-top affixTopMenu" ng-class="{'navbar-inverse': adminPage}" role="navigation">
        <!-- Start Container for Nav -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#imsNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Yale IMs</a>
            </div>

            <div class="collapse navbar-collapse" id="imsNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/newsfeed">Newsfeed</a></li>
                    <li><a href="/leaderboard">Leaderboards</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Colleges <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/college/berkeley">Berkeley</a></li>
                        <li><a href="/college/branford">Branford</a></li>
                        <li><a href="/college/calhoun">Calhoun</a></li>
                        <li><a href="/college/davenport">Davenport</a></li>
                        <li><a href="/college/ezra-stiles">Ezra Stiles</a></li>
                        <li><a href="/college/jonathan-edwards">Jonathan Edwards</a></li>
                        <li><a href="/college/morse">Morse</a></li>
                        <li><a href="/college/pierson">Pierson</a></li>
                        <li><a href="/college/saybrook">Saybrook</a></li>
                        <li><a href="/college/silliman">Silliman</a></li>
                        <li><a href="/college/timothy-dwight">Timothy Dwight</a></li>
                        <li><a href="/college/trumbull">Trumbull</a></li>
                      </ul>
                    </li>
                    <li><a href="/sport">Sports</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.name %> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/profile">My Profile</a></li>
                        <li><a href="/college/<%= @current_user.collegeURL %>/">My College</a></li>
                        <li><a href="/logout" target="_self">Logout</a></li>
                      </ul>
                    </li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </div>
        <!-- End container for nav -->
    </nav>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    

</body>
</html>
